<ng-container *ngIf="info as user">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ user.username }}</mat-card-title>
      <mat-card-subtitle>{{ user.name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content
      ><p>ID: {{ user.id }} <br />Email: {{ user.email }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="toDelete()">DELETE</button>
      <button mat-button (click)="toEdit()">EDIT</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
